/*Style file for the CSS */
*{
	padding: 0px;
	margin: 0px;
	font-family: 'Poppins', sans-serif;
}

html{
	scroll-behavior: smooth;
}


body{
		background-image:url("https://images.unsplash.com/photo-1557682250-33bd709cbe85?ixlib=rb-1.2.1&auto=format&fit=crop&w=715&q=80");
		background-size: cover;
}
/*to the top button*/
.toTop{
	position: fixed;
	display: none;
	z-index: 11;
	width: 50px;
	height: 50px;
	bottom: 20px;
	right: 20px;
	border: 2px solid #0E080F;
	line-height: 50px;
	text-align: center;
	font-size: 30px;
	border-radius: 30px;
	background-color: #0E080F;
	color: #ffffff;
    animation: showTop 0.7s ease-in;  	
}

.toTop a{
	text-decoration: none;
}
.toTop a:active{
	color: #ffffff;
}
.toTop a:visited{
	color: #ffffff;
}
.toTop a:select{
	text-decoration: none;
}

@keyframes showTop{
	0%{opacity: 0;}
	50%{opacity: 0.5;}
	100%{opacity: 1;}
}
/*---------------------------------------------*/

#king{
	position: sticky;
	top: 0;
	z-index: 1;
}

header{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	background-color:#0e080f ;
	text-transform: capitalize;
	font-weight: 600;

}

/*for the menu links */
header nav ul a:active, header nav ul a:focus, header nav ul a{
	text-decoration: none;
	color: white;
}
header nav ul a:active{
	cursor:grab;
}

ul{

	display: flex;
	flex-wrap: nowrap;
	list-style: none;
}

.nav_element{
	border-right:2px solid #1D1F2A;
	color: #ffffff;
	padding: 0.8rem 2rem;
}

#home{
	margin-left: 0rem;
}
#contact{
	border-right:none; 
}


.nav_element:hover{
background-color:#5C9A9A;
}

.settings{
	align-self: flex-end;
	flex-grow: 3;
}

#hamBurger{
	display: none;
}

/*--------------------------------------------*/
.intro{
	height: 80vh;
	padding: 1rem 6rem;
}

#avatar{
	text-align: center;
}





/*-------------------------------*/

.heading{
	text-align: center;
	margin-top: 3rem;
	font-size: 3rem;
	font-weight: bold;
	border-bottom: 1px solid #000000;
	border-radius: 30%;
}

.para{
	margin: 0 auto;
	text-align: center;
	padding: 3rem 5rem 3rem 5rem; 
	font-size: 1.5rem;
	/*height: 80vh;*/
}

#iButton{
	font-style: sans-serif;
	width: 1.5rem;
	height:1.5rem;
	text-align: center;
	border: none;
	border-radius: 2rem;
	font-size: 1rem;
}

#iButton:focus{
	outline:none;

}

dfn{
	padding: 0;
	margin: 0;
	text-align: center;
	font-style: sans-serif;
}

article{
	padding: 6rem;
	height: 80vh;
}

#writeMe{
  background-color: rgba(0,0,0,0);
  padding:1rem 2rem;
  margin: 2rem;
  border: 2px solid #000000;
  border-radius: 2rem;
  font-style: inherit;
  font-size: 1rem;
 }

#writeMe:focus{
	outline: none;
	background-color:rgba(0,0,0,0) ;
}
#writeMe:hover{
	background-color: #fffafa;
	color: black;
	border: 2px solid #fffafa;
	font-size: 1rem;
}

#writeMe:select{
    background-color:initial; 
}

#writeMe:active{
    background-color:initial; 
}



/*--------------------------------*/

.mySkills{
	padding: 4rem 6rem;	
}

section{
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fill , minmax(290px,1fr));
	padding: 2rem;
}

.project{
	height: 10rem;
	background-size: cover;
	transition: 1s;
	border-radius: 1rem;
	padding:1rem 0;
	justify-self:center;
	align-self: center;
}

.project:hover{
	transform: scale(1.1);

}

.skills{
	height: 150px;

}

/*---------------------------------*/
footer{
	background-color: #222;
	
}

.footer{
	text-align: center;
	margin: auto 0;
	padding-top: 10rem;
	padding-bottom: 5rem;

}


 .footer p:nth-child(1){
	color: #ffffff;
	font-family: 'Poppins', sans-serif;
	font-weight: lighter;
	font-size: 2rem;
}

.footer p:nth-child(2){
	color: #ffffff;
	font-family: 'Poppins', sans-serif;
    font-weight:lighter;
    font-size: 1rem; 
}

.footer p:nth-child(3){
	margin-top: 2rem;
	color: #ffffff;
	font-family: 'Poppins', sans-serif;
    /*font-weight:lighter;*/
    font-size: 1.5rem
    font-weight:normal;

}

.footer::before{
	padding: 0;
	margin:0;
}

/*--------------------------------------*/
@media (max-width: 750px){
	header,ul{
		display: block;
	}

	.nav_element{
		border-width:0px 0px 2px 0px;
		border-color: #1D1F2A;
		border-style: solid;
	}
  
    .nav_element:select{

    }

    .intro{
	    height: 80vh;
     	padding: 3rem 0rem;
  	}


	article{
		padding:0.5rem;
		height: auto;
	}

	
	#writeMe:hover{
	background-color: initial;
	border: 2px solid black;
	font-size: initial;
}

	.para{
		font-size: 1rem;
		text-align: center;
		padding: 2rem;
	}

	.project:hover{
	  transform: none;
	}

	#hamBurger{
	display:block;
	text-align: right;
	font-size: 1.5rem;
    }
    .realNav{
    	display: none;
    }

    #hamBurger:hover{
	     background-color: initial;
    }
    
    header:hover .realNav{
    	display: block;
    	/*position: relative;*/
    }


}


@media (max-width: 400px){

   section{
	grid-template-columns: repeat(auto-fill , minmax(100px,0.7fr));
     }

  #end{
	font-size: 0.5rem;
    }
  #thisRepo{
	font-style: monospace;
   }

}

/*
#one{
	background-image: url("https://mixkit.imgix.net/art/preview/mixkit-gorgeous-sunset-over-hills-and-water-84-original-large.png?q=80&auto=format%2Ccompress&h=700&q=80&dpr=1");
}

#two{
	background-image: url("https://mixkit.imgix.net/art/preview/mixkit-starry-night-sky-over-hills-and-water-85-original-large.png?q=80&auto=format%2Ccompress&h=700&q=80&dpr=1");
}

#three{
	background-image: url("https://mixkit.imgix.net/art/preview/mixkit-woman-watching-fireworks-over-a-city-skyline-175-original-large.png?q=80&auto=format%2Ccompress&h=700&q=80&dpr=1");
}

#four{
	background-image: url("https://mixkit.imgix.net/art/preview/mixkit-new-years-eve-celebrations-on-a-boat-in-the-harbor-361-original-large.png?q=80&auto=format%2Ccompress&h=700&q=80&dpr=1");
}

#five{
	background-image: url("https://mixkit.imgix.net/art/preview/mixkit-woman-dressed-in-traditional-chinese-clothing-holding-a-festival-lantern-98-original-large.png?q=80&auto=format%2Ccompress&h=700&q=80&dpr=1");
}

#six{
	background-image: url("https://mixkit.imgix.net/art/preview/mixkit-pisces-zodiac-star-sign-496-original-large.png?q=80&auto=format%2Ccompress&h=700&q=80&dpr=1");
}

#seven{
	background-image: url("https://mixkit.imgix.net/art/preview/mixkit-exhausted-man-in-front-of-a-computer-with-his-head-69-original-large.png?q=80&auto=format%2Ccompress&h=700&q=80&dpr=1");
}

#eight{
	background-image: url("https://mixkit.imgix.net/art/preview/mixkit-cat-using-chopsticks-to-eat-a-bowl-of-ramen-240-original-large.png?q=80&auto=format%2Ccompress&h=700&q=80&dpr=1");
}

*/

.footer a{
	font-size: 2rem;
    color: #ffffff;
    text-decoration: none;
    margin: 0 0.5rem;
}

/*
footer a:before,footer a:after {
  content:"";
  display:none;
}*/

#end{
	font-family: monospace;
	color: lightgrey;
	text-align: center;
	padding: 2rem;
}

#thisRepo{
	color: #ffffff;
	font-family: monospace,sans-serif;
}

a{
	text-decoration: none;
}
